*{
  margin: 3;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
}
/*Barra de navegacion*/
nav {
  background-color: #0055ff;
  color: white;
  font-size: 25px;
  display: flex;
  /*eje principal, solo se puede usar si el elemtento es flex */
  justify-content:space-between ;
  height: auto;
  /*eje secundario, solo se puede usar si el elemtento es flex */
  align-items:center ;
  padding: 10px;
  border-radius: 15px 15px 15px 15px ;
}
nav div {
  display: flex;
  gap: 20px;
}
/*
  Las pseudoclases manejan el estado de un elemento
  :hover se activa cuando el mouse pasa por encima del elemento
  :active se activa cuando el elemento es presionado
  :focus se activa cuando el elemento es seleccionado
  :visited se activa cuando el elemento es visitado
  :link se activa cuando el elemento es un link
  :first-child se activa cuando el elemento es el primer hijo de su padre
  :last-child se activa cuando el elemento es el último hijo de su padre
*/

/*
  nav div selecciona todos los divs dentro de nav
  nav > div selecciona solo los divs hijos directos de nav
*/
nav div {
  display: flex;
}

.enlace :hover{
  color: black;
}

nav div a:visited, nav div a:link {
  color: white;
  text-decoration: none;
}

/*MAIN*/

main {
  background-color: black;
  display: flex;
  flex-direction: column;
  padding: 60px;
}

/* GRID
  grid es un tipo de displey que permite manejar un sistema de filas y columna
*/

header {
  height: 80vh;
  min-height: 80vh;
  background-color: aqua;
  display: grid;
  grid-template-columns: 50% 50%;
  border-radius: 25px;
  /*eje principal*/
  justify-content: center;
  /*eje secundario*/
  align-content:center;
}

header > div , header > {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}